@page
@model LogoutModel
@{
    
    ViewData["Title"] = "Terminar Sessão";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        
    }
    <p>Terminou a sessão da aplicação com sucesso.</p>

 

</header>