@page
@model Microsoft.AspNetCore.Mvc.RazorPages.PageModel
@{
    ViewData["Title"] = "Senha redefinida";
}
<div class="login-form-card">
    <h2>Senha redefinida com sucesso!</h2>
    <p>Agora você pode <a asp-page="/Account/Login">fazer login</a> com sua nova senha.</p>
</div>

